.photocover {
  background: rgb(249, 249, 249);
  background: linear-gradient(
    0deg,
    rgba(254, 254, 254, 1) 0%,
    rgba(232, 232, 232, 1) 100%
  );
  filter: blur(5px);
}

text {
  fill: #ff9800;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 11.5px;
  letter-spacing: 6.5px;
}

.circleText {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: visible;
  transform-origin: center center;
  stroke-opacity: 0.5;
}

.overlay svg path {
  fill: #0a0a0a;
}

#overlay {
  background: #000000;
  background-image: url("./assets/images/nois2.png");
  background-attachment: fixed;
}

li {
  position: relative;
  display: inline-block;
}

li::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: 250ms ease-in-out;
}

li:hover::before {
  width: 100%;
}
.navfooter {
  position: relative;
  display: inline-block;
}

.navfooter::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: 250ms ease-in-out;
}

.navfooter:hover::before {
  width: 100%;
}

@media screen and (max-width: 640px) {
  #containernav {
    --tw-bg-opacity: 1;
    background-image: url(assets/images/noise.png);
    /* background-color: rgb(57 54 50 / var(--tw-bg-opacity)); */
    background-color: #d4d4cb;
    overflow: hidden;
  }

  #containernav::after,
  #containernav::before {
    content: "";
    position: absolute;
    border-radius: 9999px;
    z-index: -9;
    filter: blur(3px);
  }

  #containernav::after {
    background-color: #8b8b8b;
    top: -160px;
    left: -280px;
    width: 500px;
    height: 500px;
  }

  #containernav::before {
    background-color: rgb(48, 50, 59);
    top: -20px;
    left: -200px;
    width: 400px;
    height: 400px;
  }
}
