@tailwind base;
@tailwind components;
@tailwind utilities;

section:not(#section2) {
  height: 100vh;
  max-width: 1440px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  height: 40px;
}

input:focus {
  outline: none;
}

textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;

}

textarea:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: hkgro;
  src: url("fonts/hkgroteskwide-regular.otf");

  font-family: neue;
  src: url("fonts/NeueMontreal-Regular.otf");
}
